:host {
    --link-color:#ff6000;
}

.app-container {
    width: 100%;
    height: var( --container-height);
}

.link {
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--link-color);
    color: white;
    display: inline-block;
}